body {
  background-color: black;
}

header {
  background-color: turquoise;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin: 20px;
}

h1 {
  font-size: 300%;
}


@media screen and (max-width: 1000px) {
  .ref {
    display: flex;
    flex-direction: column;

  }
}

@media screen and (max-width: 620px) {
  nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5%;
  }
}